body {
  font-family: 'Titillium Web', sans-serif;
}

.jumbotron {
  background-image: url(../img/backdrop-1920.svg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: white;
  color: red;
  text-align: center;
  height: 500px;
  width: auto;
}

.form label {
  display: flex;
  align-items: center;
}

form {
  width: 500px;
  margin: auto;
  position: relative;
}

#display-result {
  display: none;
}

#reset-button {
  display: none;
}

.card {
  text-align: center;
}

.card-text {
  margin: 0px 150px 50px 150px;
}

#output-rogers {
  border-radius: 50%;
}