.jumbotron {
  background-image: url(../img/background.jpg);
  height: 300px;
  background-repeat: no-repeat;
  background-size: auto 100%;
  margin-top: 10px;
  text-align: center;
  border-bottom: 1px solid black;
  background-color: red;
  color: white;
}

#display-result {
  display: none;
}

#reset-button {
  display: none;
}

.card {
  text-align: center;
}

.card-text {
  margin: 0px 150px 50px 150px;
}

#output-rogers {
  border-radius: 50%;
}